.navbarMain{
    background-color: var(--main-bg-vector);
    border: none;
}

.caldenLogo{
    width: 5rem;
}

.navbarCalden{
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 1rem;
    font-size: 1.25rem;
}

.navbarCalden ul li a{
    color: var(--main-text-disable);
}

.navbarCalden ul li a:hover{
    color: var(--main-text-active);
}