.containerFooter{
    width: 100%;
    position: absolute;
    padding: 2em;
    margin-top: 7rem;
    text-align: center;
    justify-content: center;
    background-color: #dbdbdb;
}

.container-botones{
    width: 100%;
    display: flex;
    height: auto;
    padding: 2em 0;
    justify-content: center;
    align-items: center;
}

.buttonInstagram{
    display: flex;
    width: auto;
    height: 40px;
    border-radius: 30px;
    align-items: center;
    font-family: 'Bellota';
    font-size: 17px;
    margin: 0px 40px 0px 10px;
    gap: 0 10px;
    color: white;
    background: rgb(84, 84, 238);
}

.parrafo-instagram{
    margin: 0;
}

.buttonWhatsapp{
    display: flex;
    width: auto;
    height: 40px;
    border-radius: 30px;
    align-items: center;
    font-family: 'Bellota';
    font-size: 17px;
    gap: 0 10px;
    color: white;
    background: rgb(44 141 48);
}

.parrafo-whatsapp{
    margin: 0;
}

.footer-link a{
    padding: 10px;
    color: var(--main-text-active);
    text-decoration: none;
}

.copyright{
    color: var(--main-text-active);
    font-size: small;
}