:root {
  --main-bg-vector: #fff6e7;
  --main-bg: #f3f3ee;
  --main-text-active: #545252;
  --main-text-disable: #969492;
}

@font-face {
  font-family: 'bellota';
  src: url('../public/fonts/Bellota-Bold.otf');
}