.containerAboutMe{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    
}

.boxAboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.iconsAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.icon div{
    width: 180px;
    height: 160px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#acerca{
background-image: url('../../../public/Img/icons/heart1.png');
background-position: center;
object-fit: fill; 
}

    #acerca:hover{
        background-image: url('../../../public/Img/icons/heart2.png');
        background-position: center;
        object-fit: fill; 
    }

#galeria{
    background-image: url('../../../public/Img/icons/group1.png');
    background-position: center;
    object-fit: fill; 
    }
    
    #galeria:hover{
        background-image: url('../../../public/Img/icons/group2.png');
        background-position: center;
        object-fit: fill; 
    }

#tienda{
    background-image: url('../../../public/Img/icons/scissors1.png');
    background-position: center;
    object-fit: fill; 
    }
        
    #tienda:hover{
        background-image: url('../../../public/Img/icons/scissors2.png');
        background-position: center;
        object-fit: fill; 
    }

    
#contacto{
    background-image: url('../../../public/Img/icons/needle1.png');
    background-position: center;
    object-fit: fill; 
    }
            
    #contacto:hover{
        background-image: url('../../../public/Img/icons/needle2.png');
        background-position: center;
        object-fit: fill; 
    }


.historyAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 15px 30px;
}

.imgAbout{
    min-width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url('../../../public/Img/principales/about1.jpg');
    background-size: 22rem;
    background-position: center;
    background-repeat: no-repeat;
}

.textAbout{
    width: 400px;
}